.header {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 102px;
    line-height: 122px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-weather {
    /* text-align: left; */
    margin-right: 22%;
    margin-top: 3%;
}

.header-forecast {
    /* text-align: right; */
    margin-left: 22%;
}