.weatherForecastCard-main {
    width: 660px;
    height: 524px;
    margin-top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
    border-radius: 8px;
}

.weatherForecastCard-selector {
    padding-top: 50px;
    margin-left: 58px;
    margin-right: 58px;
}

.weatherForecastCard-selector_text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #2C2D76;
}

.weatherForecastCard-selector_inputs {
    display: flex;
    justify-content: space-between;
}

.weatherForecastCard-main select {
    margin-top: 32px;
    width: 252px;
    height: 48px;
    box-sizing: border-box;
    background: rgba(128, 131, 164, 0.06);
    border: 2px solid rgba(128, 131, 164, 0.2);
    border-radius: 8px;
}

.weatherForecastCard-main input {
    margin-top: 32px;

}

